body {
  background: black;
  font-family: Helvetica;
}

.map-container {
  position: absolute;
  top: 50px;
  bottom: 0px;
  width: 99%;
}


.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.header-wrap {
  position: absolute;
  top: 60px;
  display: flex;
  z-index: 1;
  align-items: stretch;
  justify-content: flex-start;
  left: 30px;
  height: 90%;
}

nav {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  text-decoration: none;
}

nav img{
  height: 30px;
  margin-left: 50px;
  margin-top: 5px;
}

nav a{
  color: white;
  text-decoration: none;
  margin-inline: 55px;
  margin-top: 15px;
  font-size: 15px;
  padding: 0;
  cursor: pointer;
}

nav a:hover {
  color: gray;
}

nav button{
  align-self: flex-start;
  text-decoration: none;
  margin-inline: 10px;
  margin-top: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 3px;
  border: none;
}

nav button:hover {
  background-color: gray;
}

.createPostPage, .editPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.cpContainer {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.inputGp input {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
}

.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: Helvetica;
  height: 150px;
}



.inputGp select {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.cpContainer label {
  font-size: 20px;
  padding-bottom: 5px;
}


.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.cpContainer button:hover {
  transform: scale(1.1); 
}

.customButton {
  margin-top: 15px;
  display: inline-block;
  background-color:white;
  color: black;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;

}

.customButton span {
  font-size: 18px;
  color: black;
  white-space: nowrap;
}

.customButton:hover {
  transform: scale(1.1); 
}

.uploadImage input {
  display: none;
}

input,
textarea {
  margin-top: 5px;
}

.loginPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage p {
  font-size: 30px;
}

/* GOOGLE BUTTOn */
.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 10px 16px 10px 42px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 15px 13px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.homePage {
  margin: 25px 0px;
  width: 100%;
  min-height: 0;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow: auto;
}

.homePage .post {
  width: 85%;
  height: auto;
  max-height: 600px;
  background-color: rgb(100, 100, 100);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  cursor: default;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 50%;
}
.postHeader .deletePost .editPost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button, .editPost button {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.deletePost img, .editPost img {
  background: none;
  cursor: pointer;
  height: 30px;
  transition: transform 0.3s ease;
}

.deletePost img:hover, .editPost img:hover {
  transform: scale(1.1);
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.postLineContainer {
  display: flex;
}

.postImageContainer {
  background: none;
  overflow-x: auto;
  white-space: nowrap;
}

.postImage {
  display: inline-block;
  height: 100px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.postImage:hover {
  transform: scale(1.1); /* Increase the image size on hover */
}


header {
  background: black;
  color: white;
  padding: 1em;
  font-family: Helvetica;
  font-size: 90%;
  color: white;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  width: 550px;
}

header h1 {
  font-size: 20px;
  margin-bottom: 0.4em;
  font-weight: bold;
  color: white;
}

header h3 {
  font-size: 16px;
  margin-bottom: 0.4em;
  font-weight: normal;
  color: white;
}

.title {
  font-size: 16px;
  align-self: right;
  margin-bottom: 0.4em;
  font-weight: bold;
  color: white;
}

.postTextContainer {
  font-size: 17px;
  margin-bottom: 0.4em;
  color: white;
}


@media only screen and (max-width: 480px) {
  .header-wrap {
    top: 10px;
    right: 10px;
    left: 10px;
  }
  header {
    font-size: 85%;
  }
}

div.lines {
  display: flex;
  flex-flow: row;
  margin-top: 0.8em;
  flex-wrap: wrap;
}

div.lines.hidden{
  display: none;
  flex-flow: row;
  margin-top: 0.8em;
  flex-wrap: wrap;
}


div.stopDetail {
  display: flex;
  flex-flow: row;
  margin-top: 0.8em;
  flex-wrap: wrap;
}

.stopDetail span,
.stopDetail p {
  margin: 0;
  margin-left: 5px;
  font-style: bold;
}

span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 85%;
  padding: 0.2em;
  color: white;
}

span:last-child {
  margin-right: 0;
}

span.A {
  background: #0039A6;
}

span.B {
  background: #FF6319;
}

span.G {
  background: #6CBE45;
}

span.J {
  background: #996633;
}

span.L {
  background: #A7A9AC;
}

span.N {
  background: #FCCC0A;
  color: black;
}

span.S {
  background: #808183;
}

span.one {
  background: #EE352E;
}

span.four {
  background: #00933C;
}

span.seven {
  background: #B933AD;
}

.stopDetail {
  font-size: 130%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
}
